/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.footer__copy

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions {
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
  /*For animation*/
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
  /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--first-color);
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  width: 200px;
  justify-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: .3s;
}

.home__social-link:hover {
  transform: translateX(.25rem);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: .3s;
}

.button:hover .button__icon {
  transform: translateX(.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2rem;
}

.about__img {
  width: 280px;
  justify-self: center;
}

.about__title {
  margin-bottom: var(--mb-1);
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description {
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

/*=============== STEPS ===============*/
.steps__bg {
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title {
  color: #FFF;
}

.steps__card {
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
  transform: translateY(-.25rem);
}

/*=============== PRODUCTS ===============*/
.product__description {
  text-align: center;
}

.product__container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: grid;
  position: relative;
}

.product__img {
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
  cursor: pointer;
}

.product__title,
.product__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product__title {
  margin-bottom: .25rem;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.product__button:hover {
  background-color: var(--first-color-alt);
}

.product__circle {
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.product__card:hover .product__img {
  transform: translateY(-.5rem);
}

/*=============== QUESTIONS ===============*/
.questions {
  background-color: var(--first-color-lighten);
}

.questions__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
}

.questions__item {
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description {
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content {
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
  transition: .3s;
}

.questions__item:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content {
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
  color: #FFF;
}

.accordion-open .questions__icon {
  transform: rotate(45deg);
}

/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 3.5rem;
}

.contact__data {
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon {
  font-size: 1.25rem;
}

.contact__inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);


  border: none;
  outline: none;
  z-index: 1;
}

.contact__label {
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.contact__area {
  height: 7rem;
}

.contact__area textarea {
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus+.contact__label {
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus)+.contact__label {
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input {
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button {
  padding: 1rem;
}

.footer__data {
  display: grid;
  row-gap: .75rem;
}

.footer__information {
  font-size: var(--small-font-size);
}

.footer__social {
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link {
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover {
  transform: translateY(-.25rem);
}

.footer__cards {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.footer__card {
  width: 35px;
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

.footer__copy1 {
  text-align: center;
  font-size: 9px;
  color: var(--text-color-light);
  /* margin: 0 0rem; */
}


/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon {
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    width: 180px;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .steps__bg {
    padding: 2rem 1rem;
  }

  .steps__card {
    padding: 1.5rem;
  }

  .product__container {
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .steps__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description {
    padding: 0 4rem;
  }

  .product__container {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;
  }

  .home__container {
    align-items: center;
  }

  .home__img {
    width: 280px;
    order: 1;
  }

  .home__social {
    top: 30%;
  }

  .questions__container {
    align-items: flex-start;
  }

  .footer__container {
    column-gap: 3rem;
  }

  .footer__subscribe {
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }

  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }

  .home {
    padding: 13rem 0 5rem;
  }

  .home__img {
    width: 350px;
  }

  .home__description {
    padding-right: 7rem;
  }

  .about__img {
    width: 380px;
  }

  .steps__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .steps__bg {
    padding: 3.5rem 2.5rem;
  }

  .steps__card-title {
    font-size: var(--normal-font-size);
  }

  .product__description {
    padding: 0 16rem;
  }

  .product__container {
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }

  .product__img {
    width: 160px;
  }

  .product__circle {
    width: 110px;
    height: 110px;
  }

  .product__title,
  .product__price {
    font-size: var(--normal-font-size);
  }

  .questions__container {
    padding: 1rem 0 4rem;
  }

  .questions__title {
    text-align: initial;
  }

  .questions__group {
    row-gap: 2rem;
  }

  .questions__header {
    padding: 1rem;
  }

  .questions__description {
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo {
    font-size: var(--h3-font-size);
  }

  .footer__container {
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }

  .footer__copy {
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__social {
    right: -3rem;
    row-gap: 4.5rem;
  }

  .home__social-follow {
    font-size: var(--small-font-size);
  }

  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }

  .home__social-link {
    font-size: 1.15rem;
  }

  .about__container {
    column-gap: 7rem;
  }

  .scrollup {
    right: 3rem;
  }
}

.signup-button {
  height: 33px;
  width: 80px;
  font-size: 12px;
  background: var(--first-color);
  color: #FFF;
  border-radius: 5px;
}

.signup-button:hover {
  background: var(--first-color-light);
  transition: .3s;
  color: black;
}

.login-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90%;
}

.login-left {
  background: var(--first-color);
  color: #fff;
  font-size: 10px;
  border-radius: 20px 0 0 20px;
  height: 65vh;
  width: 22%;
  text-align: center;
}

.left-data {
  margin-top: 80px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.quote {
  margin-top: 36px;
}

.login-right {
  background: var(--first-color-light);
  height: 65vh;
  width: 30%;
}

.cred-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-family: 'Kaushan Script', cursive;
  font-size: var(--big-font-size);
  color: #fff;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.55);
  width: 80%;
  height: 40vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.outer-input {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.login-input1 {
  display: flex;
  background: #FFFEFE;
  align-items: center;
  width: 85%;
  height: 100%;
}

.login-input1 i {
  width: 40px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input1 input {
  width: 100%;
  height: 90%;
  border: none;
}

.login-input1 input::placeholder {
  font-size: 18px;
  /* Set the font size for the placeholder text */
  color: rgba(0, 0, 0, 0.34);
  /* Set the color for the placeholder text */
  font-family: 'Nanum Pen Script', cursive;
}

.login-input1 input:focus {
  outline: none;
  border: none;
}

.show-pass {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: right;
}

.show-pass-in {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 18px;
}

.show-pass-in p {
  margin-left: 10px;
  font-size: var(--smaller-font-size);
  color: #3E6553;
}

.login-btn {
  display: flex;
  position: relative;
  justify-content: center;
}

.login-btn button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background: var(--first-color);
  color: #fff;
}

.login-btn button:hover {
  transition: .3s;
  background: var(--first-color-light);
  color: #3E6553;
}

.nav-to-signup {
  display: flex;
  position: relative;
  margin-top: 14px;
  align-items: center;
  justify-content: center;
  font-size: var(--smaller-font-size);
  text-decoration: underline;
  color: #3E6553;
}

.nav-to-signup p {
  cursor: pointer;
}

@media screen and (max-width: 1224px) {
  .show-pass-in p {
    font-size: 10px;
  }

  .nav-to-signup {
    margin-top: 8px;
    font-size: 10px;
  }

  .login-left {
    font-size: 8px;
  }

  .outer-input {
    height: 42px;
  }
}

@media screen and (max-width: 1005px) {
  .login-left {
    display: none;
  }

  .show-pass-in p {
    font-size: 17px;
  }

  .login-input1 input::placeholder {
    font-size: 24px;
  }

  .login-all {
    display: block;
    justify-content: none;
    align-items: none;
    height: 0vh;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .login-right {
    background: var(--first-color-light);
    height: 70vh;
    width: 100%;
  }

  .outer-input {
    height: 72px;
  }

  .login-input1 i {
    font-size: 25px;
  }

  .login-btn button {
    height: 70px;
    width: 200px;
    font-size: 20px;
  }

  .nav-to-signup {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .show-pass-in p {
    font-size: 10px;
  }

  .login-all {
    display: block;
    justify-content: none;
    align-items: none;
    height: 0vh;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .login-right {
    background: var(--first-color-light);
    height: 70vh;
    width: 100%;
  }

  .login-btn button {
    height: 38px;
    width: 99px;
    font-size: 15px;
  }

  .login-input1 i {
    font-size: 15px;
  }

  .nav-to-signup {
    font-size: 9px;
  }

  .login-input1 input::placeholder {
    font-size: 18px;
  }
}

#goHomeBtn {
  height: 40px;
  width: 140px;
  background: var(--first-color);
  border-radius: 5px;
}

#goHomeBtn i {
  color: #fff;
}

#goHomeBtn a {
  color: #fff;
}



.allFill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container2 {
  max-width: 650px;
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 15px 20px #ABB2B9;
}

.h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  color: var(--title-color);
  padding-bottom: 8px;
  border-bottom: 1px solid silver;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box2 {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  padding-left: 5px;
  padding-bottom: 15px;
}

.input-box2:nth-child(2n) {
  justify-content: end;
}

.input-box2 label,
.gender-title {
  width: 95%;
  color: var(--text-color);
  font-weight: bold;
  margin: 5px 0;
}

.gender-title {
  font-size: 16px;
}

.input-box2 .input2 {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.input-box2 .input2:is(:focus) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-category {
  color: var(--text-color-light);
}

.gender-category label {
  padding: 0 20px 0 5px;
  font-size: 14px;
}

.gender-category label,
.gender-category input {
  cursor: pointer;
}

.alert p {
  font-size: 14px;
  font-style: italic;
  color: var(--title-color);
  margin: 5px 0;
  padding: 10px;
}

.alert a {
  text-decoration: none;
  color: #3E6553;
}

.alert a:hover {
  text-decoration: underline;
}

.button-container2 {
  margin: 15px 0;
}

.button-container2 .button2 {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #aa076b, #61045f);
}

.button-container2 .button2 {
  background-image: linear-gradient(to right, #61045f, #aa076b);
}

@media(max-width:600px) {
  .container2 {
    min-width: 280px;
  }

  .content {
    max-height: 380px;
    overflow: auto;
  }

  .input-box2 {
    margin-bottom: 12px;
    width: 100%;
  }

  .input-box2:nth-child(2n) {
    justify-content: space-between;
  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .content::-webkit-scrollbar {
    width: 0;
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* background: rgb(233,76,161); */
  /* background: -moz-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%); */
  /* background: -webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%); */
  /* background: linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1", endColorstr="#c74ae9", GradientType=1);
  opacity: .7;
}

.table1 {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  min-height: 50vh;
  /* Set the minimum height of the table to the viewport height */
  max-height: 90vh;
  display: block;
  /* Make the table block-level so it can scroll */
  overflow-y: scroll;
  overflow-x: scroll;
}

.td1,
.th1 {
  padding: 15px 20px;
  text-align: center;
}


.th1 {
  background-color: #ba68c8;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

tr {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.addBtn {
  background: var(--first-color);
  color: #FFF;
  font-size: 14px;
  height: 50px;
  width: 150px;
}

.buttons button {
  width: 100px;
  height: 40px;
  background: #325aa8;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  margin-left: 10px;
}

.buttons button:hover {
  background: #1E1F23;
  color: #ffffff;
  transition: 0.5s;
}

.editBtn {
  background: var(--first-color);
  color: #FFF;
  font-size: 14px;
  height: 44px;
  width: 110px;
}

.deltBtn {
  background: rgb(199, 12, 12);
  color: #FFF;
  font-size: 14px;
  height: 44px;
  width: 110px;
}

.cart-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-icon i {
  font-size: 20px;
}

.item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--first-color);
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
}


.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: 700px;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(../img/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 1.05rem 2.50rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #256eff;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: 0;
  }
}

.container5 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userEmail {
  color: var(--text-color-light);
  cursor: pointer;
}

.userEmailBtn {
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background: var(--first-color);
  color: var(--body-color);
  font-size: 13px;
}

.userEmailBtn:hover {
  transition: 0.5s;
  transform: translateY(-.1rem);
}






input,
button {
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login6 {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  color: #fff;
}

.login__img6 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form6 {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid #fff;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}

.login__title6 {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
  color: #ffffff;
}

.login__content6,
.login__box6 {
  display: grid;
}

.login__content6 {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.login__box6 {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #fff;
}

.login__icon6,
.login__eye6 {
  font-size: 1.25rem;
}

.login__icon6 {
  color: #fff;
}

.login__check-label6 {
  color: #fff;
}

.login__input6 {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.login__input6::placeholder {
  color: #fff;
}

.login__box-input6 {
  position: relative;
}

.login__label6 {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}

.login__eye6 {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
  color: #fff;
}

.login__box6:nth-child(2) input {
  padding-right: 1.8rem;
}

.login__check6,
.login__check-group6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__check6 {
  margin-bottom: 1.5rem;
}

.login__check-label6,
.login__forgot6,
.login__register6 {
  font-size: var(--small-font-size);
}

.login__check-group6 {
  column-gap: 0.5rem;
}

.login__check-input6 {
  width: 16px;
  height: 16px;
}

.login__forgot6 {
  color: #fff;
}

.login__forgot6:hover {
  text-decoration: underline;
}

.login__button6 {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
}

.login__register6 {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.login__register6 a {
  color: #fff;
  font-weight: var(--font-medium);
}

.login__register6 a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.login__input6:focus+.login__label6 {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input6:not(:placeholder-shown).login__input6:not(:focus)+.login__label6 {
  top: -12px;
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login6 {
    justify-content: center;
  }

  .login__form6 {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }

  .login__title6 {
    font-size: 2rem;
  }
}

.container7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.thanks-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
}

.mes {
  text-decoration: none;

}


#prc {
  text-decoration: underline;
  color: var(--first-color-light);
}

.footer__copy2 {
  text-align: center;
  margin-left: 10px;
}

.rz {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
}

#buyBtn {
  width: 300px;
  height: 60px;
  background: #126ec9;
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buyBtn:hover {
  background: var(--first-color-light);
  color: #000;
}

.lsdjnfs {
  display: flex;
}

.container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container11 {
  display: flex;
  flex-direction: column;
}

.container13 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container12 {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form13 {
  /* background: rebeccapurple; */
  height: 85%;
  width: 50%;
}

.image10 {
  display: flex;
  align-items: center;
  font-size: 9px;
  padding: 30px;
}

.image10 img {
  height: 50px;
}

.image10 h1 {
  color: white;
}

#primg {
  margin-right: 10px;
}

.input12 {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.input12 input {
  display: flex;
  margin-top: 30px;
  height: 40px;
  background: black;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px;
}

.input12 input::placeholder {
  padding: 10px;
  /* Adjust the padding as needed */
}

.container10 .label10 {
  color: white;
}

.lsdjnfs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#orderPr {
  color: black;
  display: none;
}

#notBuyBtn {
  width: 300px;
  height: 60px;
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

@media screen and (max-width: 340px) {
  .form13 {
    width: 100%;
  }

  .allPr {
    width: 100%;
  }

  .input12 input {
    margin-top: 17px;
    height: 20px;
    border: 0.5px solid white;
  }

  #buyBtn {
    width: 209px;
    height: 50px;
  }

  .image10 {
    display: flex;
    align-items: center;
    font-size: 7px;
    padding-left: 35px;
  }

  .img-showcase img {
    margin-top: 20px;
    min-width: 60%;
  }

  .img {
    width: 10px;
    height: 300px;
    display: block;
  }
}

@media screen and (max-width: 1316px) {
  .form13 {
    width: 100%;
  }

  .allPr {
    width: 100%;
  }

  .input12 input {
    margin-top: 17px;
    height: 20px;
    border: 0.5px solid white;
  }

  #buyBtn {
    width: 209px;
    height: 50px;
  }

  .image10 {
    display: flex;
    align-items: center;
    font-size: 7px;
    padding-left: 35px;
  }

  .img-showcase img {
    margin-top: 20px;
    min-width: 60%;
  }

  .img {
    width: 10px;
    height: 300px;
    display: block;
  }
}

@media screen and (min-width: 341px) {
  .img-showcase img {
    margin-top: 20px;
    min-width: 40%;
    max-height: 50%;
  }

  .img {
    height: 300px;
    display: block;
  }
}

@media screen and (min-width: 1317px) {
  .form13 {}

  .allPr {}

  #buyBtn {
    width: 300px;
    height: 60px;
    background: #126ec9;
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image10 {
    display: flex;
    align-items: center;
    font-size: 9px;
    padding: 30px;
  }

  .image10 img {
    height: 50px;
  }

  .image10 h1 {
    color: white;
  }

  .input12 input {
    display: flex;
    margin-top: 30px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
  }

  .img-showcase img {
    min-width: 100%;
  }

  .img {
    width: 100%;
    height: 700px;
    display: block;
  }
}

#showPRR {
  display: block;
}

.PayBox {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.PayBox form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.PayBox form .btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.PayBox form button {
  width: 54%;
  height: 50%;
  background-color: #126ec9;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

@media screen and (max-width: 340px) {
  .PayBox {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .PayBox form .btns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50%;
  }
  .PayBox form button {
    width: 70%;
    height: 60%;
    background-color: #126ec9;
    color: white;
    border-radius: 3px;
    font-size: 10px;
  }
}

@media screen and (min-width: 341px) {
  .PayBox {
    height: 140px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .PayBox form .btns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50%;
  }
  .PayBox form button {
    width: 70%;
    height: 70%;
    background-color: #126ec9;
    color: white;
    border-radius: 3px;
    font-size: 13px;
  }
}

@media screen and (min-width: 440px) {
  .PayBox {
    height: 140px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .PayBox form .btns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50%;
  }
  .PayBox form button {
    width: 55%;
    height: 70%;
    background-color: #126ec9;
    color: white;
    border-radius: 3px;
    font-size: 15px;
  }
}